.count {
  color: #70b;
  font-size: 3em;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4Lm1hcmtvLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNJLFlBQVk7RUFDWixlQUFlO0NBQ2hCIiwiZmlsZSI6ImluZGV4Lm1hcmtvLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5jb3VudCB7XG4gICAgY29sb3I6ICM3MGI7XG4gICAgZm9udC1zaXplOiAzZW07XG4gIH0iXX0= */